body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #003068;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#gif-container {
    margin: 20px;
    border: 15px solid;
    border-color: aliceblue;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
}

#customizations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}